{% extends "core/base/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block sidebar %}
  {% include 'core/include/default_sidebar.html' %}
{% endblock %}

{% block main %}
  <main class="pt-16 max-h-screen overflow-auto">
    <div class="px-2 py-6">
      <div class="max-w-2xl mx-auto">
        <div class="bg-white shadow-2xl rounded-3xl p-8 mb-5">
          <div class="grid grid-cols-1 gap-x-20">
            <div class="bg-white">
              <div class="relative mx-auto max-w-screen-xl px-4 py-5">
                <div>
                  <h1 class="text-2xl font-bold lg:text-3xl">{% trans "Password Reset" %}</h1>
                </div>
                <div class="mt-2">
                  <p>{% blocktrans %}We have e-mailed you. If you have not received it please check your spam
                    folder. Otherwise, contact us if you do not receive it in a few minutes.{% endblocktrans %}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
