{% extends "core/base/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block sidebar %}
  {% include 'core/include/default_sidebar.html' %}
{% endblock %}

{% block main %}
  <main class="max-h-screen overflow-auto">
    <div class="min-h-screen bg-gradient-to-r from-yellow-100 to-pink-200 py-6 flex flex-col justify-center sm:py-12">
      <div class="relative py-3 sm:max-w-xl sm:mx-auto">
        <div class="relative px-4 py-10 bg-white shadow-lg sm:rounded-3xl sm:p-20">
          {% if token_fail %}
            <div>
              <h1 class="text-2xl font-semibold">{% trans "Change Password" %}</h1>
            </div>
            <div class="mt-3">
              <div class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7">
                <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.
                  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
              </div>
            </div>
          {% else %}
            <form method="POST" action="{{ action_url }}" class="password_change">
              {% csrf_token %}
              <div>
                <h1 class="text-2xl font-semibold">{% trans "Change Password" %}</h1>
              </div>
              <div class="mt-3">
                <div class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7">
                  <div class="relative mt-4">
                    <input id="id_password1"
                           type="password"
                           name="password1"
                           placeholder="{% trans 'New Password' %}"
                           autocomplete="new-password"
                           required
                           class="peer h-10 w-full border-b-2 border-gray-300 text-gray-900 focus:outline-none focus:borer-rose-600"/>
                  </div>

                  <div class="relative mt-4">
                    <input id="id_password2"
                           type="password"
                           name="password2"
                           autocomplete="new-password"
                           placeholder="{% trans 'New Password (again)' %}"
                           required
                           class="peer h-10 w-full border-b-2 border-gray-300 text-gray-900 focus:outline-none focus:borer-rose-600"/>
                  </div>

                  <div class="relative">
                    <button class="bg-gray-800 text-white rounded-md px-5 py-1" type="submit">
                      {% trans 'Change Password' %}
                    </button>
                  </div>
                </div>
              </div>
            </form>
          {% endif %}
        </div>
      </div>
    </div>
  </main>
{% endblock %}
