version: '3.7'

x-defaults: &defaults
  networks:
    bridge:
    int:
  deploy:
    replicas: 1

x-dj: &dj
  secrets:
    - %PROJECT%.django.key.secret
    - %PROJECT%.sentry.%DJANGO_ENV%.dsn.secret
    - %PROJECT%.pg.%DJANGO_ENV%.passwd.secret
  environment:
    PROJECT: %PROJECT%
    DJANGO_ENV: %DJANGO_ENV%
    DB_NAME: postgres
    DB_USER: postgres
    DB_HOST: %PROJECT%-db
    REDIS_HOST: %PROJECT%-redis
  volumes:
    - "static:/app/public"

x-celery: &celery
  <<: *defaults
  <<: *dj
  volumes:
    - "static:/app/public"

x-pub: &pub
  <<: *defaults
  volumes:
    - "static:/app/public"

services:
  %PROJECT%-celery-beat:
    <<: *celery
    image: %IMAGE_APP%
    hostname: %PROJECT%-celery-beat
    command: start.celery.beat
  %PROJECT%-celery-workers:
    <<: *celery
    image: %IMAGE_APP%
    hostname: %PROJECT%-celery-workers
    command: start.celery.workers
  %PROJECT%-app:
    <<: *dj
    <<: *pub
    image: %IMAGE_APP%
    hostname: %PROJECT%-app
    command: start.app
    ports:
      - "8800:80"
  %PROJECT%-web:
    <<: *pub
    image: %IMAGE_WEB%
    hostname: %PROJECT%-web
    ports:
      - "8000:80"
  %PROJECT%-db:
    <<: *defaults
    image: postgres:alpine
    hostname: %PROJECT%-db
    secrets:
      - %PROJECT%.pg.%DJANGO_ENV%.passwd.secret
    environment:
      POSTGRES_PASSWORD_FILE: /run/secrets/%PROJECT%.pg.%DJANGO_ENV%.passwd.secret
    volumes:
      - "pgbase:/var/lib/postgresql/data"
  %PROJECT%-redis:
     <<: *defaults
     image: redis:5-alpine
     hostname: %PROJECT%-redis
     volumes:
       - "redis-data:/data"


volumes:
  static:
  pgbase:
  redis-data:

networks:
  bridge:
    external: true
  int:
    external: true
    attachable: true
secrets:
  %PROJECT%.django.key.secret:
    external: true
  %PROJECT%.sentry.%DJANGO_ENV%.dsn.secret:
    external: true
  %PROJECT%.pg.%DJANGO_ENV%.passwd.secret:
    external: true
