{% extends "account/email/email_layout.html" %}

{% load i18n %}

{% block title %}{% trans 'Password Reset' %}{% endblock %}

{% block content %}
  <div style="margin-bottom: 15px">
    {% trans "You're receiving this e-mail because you or someone else has requested a password for your user account." %}
  </div>
  <div style="margin-bottom: 15px">
    {% trans "It can be safely ignored if you did not request a password reset." %}
  </div>
  <div style="margin-bottom: 15px">
    {% trans "Click the link below to reset your password:" %}
  </div>
  <div style="font-weight: 700; margin-bottom: 20px">
    <a href="{{ password_reset_url }}" target="_blank">
      {{ password_reset_url }}
    </a>
  </div>
{% endblock %}
